

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



footer{
	padding: 2em 1em;
    background-color: #333;
    height:100%;
}















